/*
 *  カテゴリー
 */
.blog-categories-wrapper {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
}
.blog-categories {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
	padding: 0 1px;
	gap: 1px;
	background-color: #ccc;
}
.blog-category {
	display: block;
	flex-grow: 1;
	padding: 0.25em 0.5em;
	text-align: center;
	color: var(--text-link-color);
	background-color: #f2f2f2;
}
.blog-category:visited {
	color: var(--text-link-color);
}
.blog-category:hover {
	background-color: var(--text-link-hover-color);
	color: white;
}
.blog-category.active {
	background-color: var(--text-link-hover-color);
	color: white;
}
.blog-category .label {
	font-size: 75%; /* 16px -> 12px */
}

/*
 *  カード
 */
.blog-card-container {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
	padding: 0;
	gap: 0;
	position: relative;
}
.blog-card-erase-horizontal-border {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 2px;
	background-color: var(--main-background-color);
}
.blog-card-erase-vertical-border {
	position: absolute;
	box-sizing: border-box;
	width: 2px;
	height: 100%;
	background-color: var(--main-background-color);
}

.blog-card {
	flex-grow: 1;
	width: clamp(0px, 193px, 100vw);
	box-sizing: border-box;
	background-color: #f2f2f2;
	padding: 16px min(16px, 2vw);
	border: 1px solid var(--main-background-color);
}
.blog-card.hidden {
	overflow: hidden;
	max-height: 0;
	margin: 0;
	padding: 0;
	border-top: none;
	border-left: none;
}

.blog-card .date {
	padding-bottom: 12px;
	font-size: 14px;
	line-height: 1;
	color: #808080;
}

.blog-card img {
	display: block;
	box-sizing: border-box;
	object-fit: cover;
	aspect-ratio: 16 / 10;
	width: 100%;
	height: auto;
	margin: auto;
}
.blog-card img {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}
.blog-card img:hover {
	box-shadow: 0 7px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
	transform: translateY(-2px);
}
.blog-card img:active {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transform: translateY(0px);
	transition: transform 0.1s, box-shadow 0.1s;
}

.blog-card .title {
	display: block;
	margin: 16px 0 0 0;
	padding: 0;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: var(--text-link-color);
}
.blog-card .title::first-letter {
	color: #555;
	font-size: 1.25rem;
	font-weight: Bold;
	color: var(--text-link-color);
}
.blog-card .title:visited,
.blog-card .title:visited::first-letter {
	color: var(--text-link-visited-color);
}
.blog-card .title:hover,
.blog-card .title:hover::first-letter {
	color: var(--text-link-hover-color);
}

.blog-card.blog-post {
	width: clamp(0px, 161px, 100vw);
}

@media only screen and (max-width: 500px) {
	.blog-card.blog-page {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 16px min(16px, 2vw);
	}
	.blog-card.blog-page .date {
		display: block;
		margin: 0;
		padding: 0 0 0 116px;
		width: 100%;
		line-height: 0;
		position: relative;
		top: 8px;
	}
	.blog-card.blog-page img {
		display: inline;
		margin: 0;
		padding: 0;
		width: 102px;
		height: 64px;
	}
	.blog-card.blog-page .title {
		display: inline-block;
		width: calc(100% - 120px);
		margin: 16px 0 0 0;
		padding: 0 0 0 0.75em;
		line-height: 1.25;
	}


	.blog-card.blog-post {
		display: flex;
		width: 100%;
		padding: 8px min(16px, 2vw);
	}
	.blog-card.blog-post img {
		display: inline;
		margin: 0;
		padding: 0;
		width: 102px;
		height: 64px;
	}
	.blog-card.blog-post .title {
		display: inline-block;
		width: calc(100% - 120px);
		margin: auto 0;
		padding: 0 0 0 0.75em;
		line-height: 1.25;
	}
}

/*
 * ページャー
 */
.blog-pager {
	margin: 1em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-basis: 0;
	padding-inline-start: 1em;
	padding-inline-end: 1em;
	gap: 8px;
}
.blog-pager .previous,
.blog-pager .next {
	display: block;
	box-sizing: border-box;
	padding: 1em 1.5em;
	background-color: #39739d;
	color: white;
}
.blog-pager .previous.grow,
.blog-pager .next.grow {
	flex-grow: 1;
}
.blog-pager .previous:visited,
.blog-pager .next:visited {
	color: white;
}
.blog-pager .previous:hover,
.blog-pager .next:hover {
	color: white;
	background-color: var(--text-link-hover-color);
}
.blog-pager .title {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

/*
 * 記事
 */
article .blog-header {
	margin-block-start: 3rem;
	margin-block-end: 3rem;
}
article .blog-header .date {
	font-size: 1.2rem;
	font-weight: normal;
	line-height: 1.0;
	font-style: italic;
}
article .blog-header .blog-category {
	display: inline-block;
	vertical-align: top;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.0;
	background-color: #eeeeee;
	border-radius: 0.2rem;
	padding: 0.5rem;
	text-decoration: none;
	color: #2573b8;
	margin-block-end: 0.25rem;
}
article .blog-header .blog-category:hover {
	color: var(--text-link-hover-color);
}
article .blog-header .title {
	margin-block-start: 0;
	margin-block-end: 0;
	font-size: 2rem; /* 16px -> 32px */
	font-weight: bold;
	line-height: 1.2;
}
article .blog-header .title::first-letter {
	font-size: 3rem;
}
