.search-result {
	margin-top: 1.5em;
	padding: 0 1em;
	font-size: 1em;
}
.search-result strong {
	color: var(--search-result-highlight-color);
	background-color: var(--search-result-highlight-background-color);
	border-radius: 4px;
	white-space: pre-wrap;
}
.search-result > .search-result-header > .time {
	font-size: smaller;	
}
.search-result > .entries {
	margin-top: 1em;
	text-align: initial;
	line-height: 1.5;
}
.search-result > .entries > .entry {
	margin-bottom: 1.5em;
}
.search-result > .entries > .entry span.divider:before {
	content: " / ";
	color: var(--search-result-divider-color);
}
.search-result > .entries > .entry > .title > a {
	font-weight: bold;
	color: var(--text-link-color);
	text-decoration: none;
}
.search-result > .entries > .entry > .title > a:visited {
	color: var(--text-link-visited-color);
}
.search-result > .entries > .entry > .title > a:hover {
	color: var(--text-link-hover-color);
}
.search-result > .entries > .entry > .url {
	font-size: 14px;
}
.search-result > .entries > .entry > .url > a {
	color: var(--search-result-url-color);
	text-decoration: none;
}
.search-result > .entries > .entry > .text {
	margin-top: 6px;
	font-size: 15px;
	color: var(--main-text-color);
}

/*
 * ['Ctrl'] 
 * <kbd data-length="4">Ctrl</kbd>
 */
 .markdown kbd {
	display: inline;
	vertical-align: baseline;
	margin: 0;
	padding: 0.2em 0.5em;
	font-family: var(--font-family-monospace);
	font-size: 87.5%; /* 16px -> 14px */
	line-height: 1;
	color: var(--kbd-color);
	text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
	background-color: var(--kbd-background-color);
	border: 1px solid var(--kbd-border-color);
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.3) inset;
	white-space: pre-wrap;
}
