.root {
	-fx-font-family: "Meiryo";
	-fx-font-size: 12px;
}

.category-button {
	-fx-font-size: 11px;
	-fx-padding: 2 8;
	-fx-text-fill: #202020;
	-fx-background-color: #E0E0E0;
	-fx-background-radius: 2px;
}
.category-button:selected {
	-fx-text-fill: #F2F2F2;
	-fx-background-color: -fx-accent;
}

#categories {
	-fx-hgap: 5;
	-fx-vgap: 5;
}

#btnSkip {
	-fx-background-color: transparent;
}
#btnSkip:hover {
	-fx-background-color: #E0E0E0;
}
#btnSkip:pressed {
	-fx-background-color: #C0C0C0;
}

#btnCreate {
}

#progressIndicator {
	-fx-pref-width: 20px;
	-fx-pref-height: 20px;
	-fx-progress-color: #202020;
}

FontIcon {
	-fx-icon-size: 17;
	-fx-icon-color: #97bf13;
}

/*
 * modena
 */
.text-input {
	-fx-prompt-text-fill: #666;
}
.scroll-pane {
	-fx-min-height: 0;
	-fx-hbar-policy: never;
	-fx-vbar-policy: as-needed;
	-fx-background-color: transparent;
}
.scroll-pane .viewport {
	-fx-background-color: transparent;
}
.scroll-bar:vertical {
	-fx-background-color: transparent;
	-fx-padding: 0;
}
.scroll-bar:vertical .track {
	-fx-background-color: transparent;
}
.scroll-bar:vertical .thumb {
	-fx-background-color: #E0E0E0;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
}
.scroll-bar:vertical .thumb:hover {
	-fx-background-color: #C0C0C0;
}
.scroll-bar:vertical .thumb:pressed {
	-fx-background-color: #A0A0A0;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
	-fx-padding: 0px;
}
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
	-fx-padding: 0 5 0 5;
}
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
	-fx-padding: 5 0 5 0;
}
