:root {
	--primary-color:           #6200EE;
	--primary-variant-color:   #3700B3;
	--secondary-color:         #03DAC6;
	--secondary-variant-color: #018786;

	--header-text-color:          #FFFFFF;
	--header-background-color:    #3E4750; /* #287dc0; */
	--footer-text-color:          #202020;
	--footer-background-color:    #FFFFFF;
	--main-text-color:            #202020;
	--main-background-color:      #fefefe;
	--sidebar-text-color:         #202020;
	--sidebar-background-color:   #FFFFFF;
	--text-link-color:            #01509d;
	--text-link-visited-color:    #01509d;
	--text-link-hover-color:      #ef4e00;
	--border-color:               #C0C0C0;
	--table-text-color:           #202020;
	--button-text-color:          #FFFFFF;
	--button-background-color:    #287dc0;
	--list-marker-color:          #4598c0;
	--table-background-color-odd: #f8f8f8;
	--table-border-color:         #cccccc;
	--blockquote-font-family:     var(--font-family-sans-serif-italic);
	--blockquote-color:           #e8e8e8;

	--font-family-sans-serif: "Meiryo", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic Medium", "Yu Gothic", 'YuGothic', "Roboto", "Droid Sans", sans-serif;
	--font-family-sans-serif-italic: "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Yu Gothic Medium", "Yu Gothic", 'YuGothic', "Roboto", "Droid Sans", sans-serif;
	--font-family-serif: "Hiragino Mincho ProN", "Yu Mincho Medium", "Yu Mincho", "YuMincho", serif;
	--font-family-monospace: "Consolas", "Meiryo", "monaco", "Osaka−等幅", "Osaka-mono", monospace;
	--font-family-arial: "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	--font-family-baskerville: "Baskerville", "Baskerville Old Face", "Garamond", "Times New Roman", serif;
	--font-family-bodoni: "Bodoni MT", "Bodoni 72", "Didot", "Didot LT STD", "Hoefler Text", "Garamond", "Times New Roman", serif;
	--font-family-candara: "Candara", "Calibri", "Segoe", "Segoe UI", "Optima", "Arial", sans-serif;
	--font-family-century-gothic: "Century Gothic", "CenturyGothic", "AppleGothic", sans-serif;
	--font-family-georgia: "Georgia", "Times", "Times New Roman", serif;
	--font-family-datetime: "Georgia", "Times", "Times New Roman", serif;

	--main-font-size-px:  16px;
	--main-padding-left:  16px;
	--main-padding-right: 16px;
	--main-padding-left-adjust:  0px;
	--main-padding-right-adjust: 0px;
}

@font-face {
	font-family: "catalpa";
	src: url("data:application/font-woff;base64,d09GMgABAAAAAAJwAA4AAAAABfQAAAIbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAP0ZGVE0cGhwGYACCQggEEQgKWHYLCgABNgIkAxAEIAWEAQcqGxAFAB6FcZsTTmVyqvCdLvV4+H7u89yb95KUecGzLBBYIGEqV8ii3BqDao1oNaH+sq6d2MP9vGUCPVx0WPOvXLQNfESb6WADTjVPIPfF/r+bfIvwA/hdc2kgC3BswkgDKyxKqJfQEQUkgVAQ7tpnnsII9/CgJNuEgO/nRgA/ur2Ll/+DAKy0kR2JQKCkeK5S5+sLYrc8tPngQUYh1WUAAgAuPRjzeBtDXTu0lup1QABgjAUNGuxkAfvYBHayGwNFERgbhvB7ZvgjgGgJQCQSABA0klsdqxEQwyBBAT0SPVYDCqZYgVJWLKx53Ql4Vh7juD7Gcf2Li+8Xp4A3YXrfrytGc2/a+nXf2yaN5nybJlyzt10b/5SEzBYEz/6392ao9bdf0VtnX+IY5L26Bb0EQb0OlhLkPRYAQEmOAYmEQNFLkAiBQzIAVnspAGMGLCB0HrKA1HkkQGPSX4CiizUCVCtimgW0ujjLJsoyHAIbwmp3UbIFaJzwgWK1AarNseUtWqtjr6GDo5czhUR2RWI4caQgp6AghczMrWwt9e31kZWXA3j3mXDxn7Acm81X22V/36crrwNwF+OKoTtiwPu5PUcGuEIgudExzvCUWRU44cB0LctwJhGQgowc0kBj6vXdgpq0qjS4g9uYPF85SwLNZXLUoLmFVRRq6WqadiYfulGeXSg8Kckz+DhSLZvN5ND/fALDPBEEAICyFwIA") format("woff2");
}

html {
	overflow-y: scroll; /* 常にスクロールバーを表示します */
}

/*
 * ボディ
 */
body {
	margin: 0;
	padding: 0;
	font-size: var(--main-font-size-px);
	color: var(--main-text-color);
	background-color: var(--main-background-color);
}

/*
 * アンカー
 */
a {
	text-decoration: none;
	color: var(--text-link-color);
}
a:visited {
	color: var(--text-link-visited-color);
}
a:hover {
	color: var(--text-link-hover-color);
}

/*
 * テレタイプ・テキスト
 */
 .markdown tt {
	font-family: var(--font-family-monospace);
	word-break: break-all;
	white-space: pre-wrap;
}

/*
 *  ヘッダー
 */
header {
	background-color: var(--header-background-color);
}
header .container {
	margin: 0 auto;
	padding: 12px;
	display: flex;
	flex-flow: wrap;
	gap: 12px;
	align-items: center;
}
header .container a.title {
	line-height: 1.0;
	font-size: 1.5rem; /* 16px -> 24px */
	color: var(--header-text-color);
}
header .container a.title {
	color: var(--header-text-color);
}
/*
 *  検索ボックス
 */
header .container form {
	display: flex;
	margin-left: auto;
}
input[type="search"] {
	font-size: 16px;
	line-height: 1.0;
	margin: auto;
	padding: 0.6em 1em 0.5em 1em;
	width: 14em;
	color: #303030;
	border-style: none;
	border-radius: 2em;
	box-shadow: inset 1px 1px 3px rgba(0,0,0,.5);
	appearance: textfield;
}
input[type="search"]:focus {
	outline: 0;
}
input:focus::placeholder {
	color: transparent;
}
input[type="search"]::-webkit-search-cancel-button {
	appearance: none;
}
input[type="search"]::-webkit-search-decoration {
	display: none;
}
input[type="search"]::-ms-clear {
	display: none;
}

/*
 *  カテゴリー
 */ 
.categories {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
	padding: 0;
	gap: 1px;
	background-color: #ccc;
}
.category {
	display: block;
	flex-grow: 1;
	padding: 0.25em 0.5em;
	text-align: center;
	background-color: #39739d;
	color: white;
}
.category:visited {
	color: #ccc;
}
.category:hover {
	background-color: var(--text-link-hover-color);
	color: white;
}
.category.active {
	background-color: var(--text-link-hover-color);
	color: white;
}
.category .label {
	font-size: 75%; /* 16px -> 12px */
}

/*
 *  メイン
 */
main {
	box-sizing: border-box;
	margin: auto;
}
article {
	padding-inline-start: calc(var(--main-padding-left) + var(--main-padding-left-adjust));
	padding-inline-end: calc(var(--main-padding-right) + var(--main-padding-right-adjust));
}
main > hr {
	margin: 2rem 0;
	margin-inline-start: calc(0px - var(--main-padding-left) - var(--main-padding-left-adjust));
	margin-inline-end: calc(0px - var(--main-padding-right) - var(--main-padding-right-adjust));
	border-top: 1px solid #ccc;
}


/*
 *  カード
 */
.card-container {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 0;
	padding: 0;
	gap: 0;
	position: relative;
}
.card-erase-horizontal-border {
	position: absolute;
	box-sizing: border-box;
	width: 100%;
	height: 2px;
	background-color: var(--main-background-color);
}
.card-erase-vertical-border {
	position: absolute;
	box-sizing: border-box;
	width: 2px;
	height: 100%;
	background-color: var(--main-background-color);
}

.card {
	flex-grow: 1;
	width: clamp(0px, 176px, 100vw);
	box-sizing: border-box;
	background-color: #f2f2f2;
	padding: 16px min(16px, 2vw);
	border: 1px solid var(--main-background-color);
}
.card.hidden {
	overflow: hidden;
	max-height: 0;
	margin: 0;
	padding: 0;
	border-top: none;
	border-left: none;
}

.card .date {
	padding-bottom: 12px;
	font-size: 14px;
	line-height: 1;
	color: #808080;
}

.card img {
	display: block;
	box-sizing: border-box;
	object-fit: cover;
	aspect-ratio: 16 / 10;
	width: 100%;
	height: auto;
	margin: auto;
}
.card img {
	box-shadow: 0 2px 4px rgb(0 0 0 / 30%);
	transition: 0.3s;
}
.card img:hover {
	box-shadow: 0 15px 30px -5px rgb(0 0 0 / 25%);
	transform: translateY(-4px);
}

.card .title {
	display: block;
	margin: 16px 0 0 0;
	padding: 0;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: var(--text-link-color);
}
.card .title::first-letter {
	color: #555;
	font-size: 1.25rem;
	font-weight: Bold;
	color: var(--text-link-color);
}
.card .title:visited,
.card .title:visited::first-letter {
	color: var(--text-link-visited-color);
}
.card .title:hover,
.card .title:hover::first-letter {
	color: var(--text-link-hover-color);
}

/*
 * ページャー
 */
 .pager {
	margin: 1rem 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-basis: 0;
	padding: 0;
	gap: 8px;
}
.pager .previous,
.pager .next {
	display: block;
	box-sizing: border-box;
	padding: 1em 2em;
	background-color: #39739d;
	color: white;
}
.pager .previous.grow,
.pager .next.grow {
	flex-grow: 1;
}
.pager .previous:visited,
.pager .next:visited {
	color: white;
}
.pager .previous:hover,
.pager .next:hover {
	color: white;
	background-color: var(--text-link-hover-color);
}

/*
 *  フッター
 */
footer {
	margin: 2rem 0 0 0;
	box-sizing: border-box;
	border-top: 1px solid #ccc;
}
footer .container {
	margin: 0 auto;
	padding: 1.5rem 0;
	line-height: 1;
	text-align: center;
}
footer address {
	display: inline;
}

