/*
--text-link-color: #01509d;
--text-link-visited-color: #01509d;
--text-link-hover-color: #ef4e00;
*/

.search-result {
	margin-top: 1.5em;
	padding: 0 1rem;
	font-size: 1rem;
}
.search-result strong {
	color: #c7254e;
	background-color: rgba(128, 0, 32, 0.05);
	border-radius: 4px;
	white-space: pre-wrap;
}
.search-result > .search-result-header > .time {
	font-size: smaller;	
}
.search-result > .entries {
	margin-top: 1em;
	text-align: initial;
	line-height: 1.5;
}
.search-result > .entries > .entry {
	margin-bottom: 1.5em;
}
.search-result > .entries > .entry span.divider:before {
	content: " / ";
	color: #C0C0C0;
}
.search-result > .entries > .entry > .title > a {
	font-weight: bold;
	color: #01509d;
	text-decoration: none;
}
.search-result > .entries > .entry > .title > a:visited {
	color: #01509d;
}
.search-result > .entries > .entry > .title > a:hover {
	color: #ef4e00;
}
.search-result > .entries > .entry > .url {
	font-size: 14px;
}
.search-result > .entries > .entry > .url > a {
	color: #006621;
	text-decoration: none;
}
.search-result > .entries > .entry > .text {
	margin-top: 6px;
	font-size: 15px;
	color: #333333;
}

/*
 * KBD
 */
 .markdown kbd {
	display: inline-block;
	vertical-align: text-top;
	margin: 0;
	padding: 0.2em 0.5em 0.2em 0.5em;
	font-family: var(--font-family-monospace);
	font-size: 87.5%; /* 16px -> 14px */
	line-height: 1.0;
	color: #D0D0D0;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.5);
	background-color: #202020;
	border: 1px solid #000000;
	border-radius: 3px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5), 1px 1px 1px rgba(255,255,255,0.3) inset;
	white-space: pre-wrap;
}
